
<header class="main_header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand"> Ufirst Global </a>
      </div>
        <ul class="nav navbar-nav navbar-right pull-right">
          <li  class="nav-item">
            <a class="nav-link" routerLink="auth/login">Login</a>
          </li>
          
          <li  class="nav-item">
            <a class="nav-link" routerLink="signup">signup</a>
          </li>
        </ul>
    </div>
  </nav>
</header>


<div class="container">
<router-outlet></router-outlet>
</div>