.signup__01, .signup__02{

    font-family: Latina;
    /* font-weight: bold; */

}

.signup__form__container {

    margin-top: 70px;

}

.form__left {

    margin-left: 40px;
    margin-top: 30px;

}

.password__visibility {

    margin-top: -27px;
    float: right;
    margin-right: 15px;

}

.country__container {

    display: flex;
    direction: row;
    flex: 1;

}

.division__02 {

    margin-top: 30px;

}

.upload__button {

    background-color: #0060bf;
    width: 200px;

}

.upload__file {

    display: none;

}



.form__heading {

    color: #0060BF;

}

.sbt {

    margin-top: 32px;

}

.profile__avatar {

    height: 200px;
    width: 200px;

}

.form-control.form-control-md {

    background-color: #FBFBFB;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 1px blue 1px rgba(225,225,225 / 50%);
    border-radius: 3px;

}

.btn.btn-block {

    background-color: #0060bf;

}

.signup__02 {

    margin-top: 70px;

}

.signup02__form__left {

    margin-top: 30px;

}

.signup02__form__heading {

    flex: 1;
    padding-top: 10px;

}

.delete__icon {

    color: red;
    float: right;
    
}

@media only screen and (max-width: 767px) {

.form__division {

    border-top: 5px solid #e7e7e7;

}

}

@media only screen and (min-width: 768px) {

.form__division {

    border-left: 5px solid #e7e7e7;

}

}

.generic__border {

    border: 1px solid #D9D9D9;
    box-shadow: 0px 1px blue 1px rgba(225,225,225 / 50%);
    border-radius: 3px;

}

.generic__header {

    display: flex;
    flex-direction: row;

}

.ftr {

    position: relative; 
    bottom: 0;
    width: 100%;
    background-color: #212735;
  
  }





  .navbackground__color{

    background-color: #212735;
    
}

#loginrow{
    width: 1380px;
    margin-left: -130px;
}
